# Core functionality - changes here should be rare!
/src/app.py                   @VenkySparrow
/src/backend/database.py      @VenkySparrow
/src/backend/routers/auth.py  @VenkySparrow

# The frontend will need refactored soon to be more object oriented.
/src/static/   @VenkySparrow
